##########################
#         Folders        #
##########################
.vscode/
Tmp/
##########################


##########################
#          Files         #
##########################
zsh/.zhistory

##########################
